h4.utc-time {
    color: #AA3333;
}

.post-form textarea, .post-form input {
    width: 100%;
    display: inline-block;
    text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
