{% extends 'base.htm' %}


{% block content %}
<div class="container">
  <h1>{{ asset.assetName }} Information:</h1>
  <p class='aluminfo'>
        <br>
          <a href="/homepage/editasset/{{ asset.serialNum }}/">Edit</a> |
          <a href="/homepage/assets/">All Assets</a>
        <br>
      <strong>Is Active:</strong>
        {% if asset.active == True %}
            <span style="color:rgb(0, 102, 0);" class="glyphicon glyphicon-ok"></span>
            <a href="/homepage/assetinfo/{{ asset.serialNum }}/1/">De-Activate</a>
        {% else %}
            <span style="color:rgb(204, 0, 0);" class="glyphicon glyphicon-remove"></span>
            <a href="/homepage/assetinfo/{{ asset.serialNum }}/1/">Activate</a>
        {% endif %}

        <hr style="border-top: 1px solid #a38992; margin:0px; padding:0px;">
  <table class='sortable'>
      <tr><td><label>Serial Number:</label> {{asset.serialNum}} </td></tr>
      <tr><td><label>Name:</label> {{asset.assetName}} </td></tr>
      <tr><td><label>Manufactur Part Number: </label>{{asset.manPartNum}} </td></tr>
      <tr><td><label>Location:</label> {{asset.location.locationName}} </td></tr>
      <tr><td><label>Organization:</label> {{asset.organization.orgName}} </td></tr>
      <tr><td><label>Manufacturer:</label> {{asset.manufacturer.manName}} </td></tr>
      <tr><td><label>Assigned Employee:</label> {{asset.employee.firstName }}  {{asset.employee.lastName}} </td></tr>
      <tr><td><label>Description:</label> {{asset.description}} </td></tr>
      <tr><td><label>Date Implimented:</label> {{asset.date_imp}} </td></tr>
      <tr><td><label>Notes:</label> {{asset.notes}} </td></tr>
    </table>
      </p>
</div>

<!-- Delete Asset Modal -->
<div class="modal fade" id="deleteAsset" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Confirm</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this asset?  This cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <a id="real_delete" href="" class="btn btn-danger" type="submit">Yes</a>
      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
    </div>
  </div>

</div>
</div>

{% endblock %}
