{% extends 'base.htm' %}


{% block content %}
<div class='container viewcontainer'>
  <h1>Assets</h1>
  <div>
    <p>
      <strong>Filters:</strong>
      <a href="/homepage/assets" class="btn btn-primary">All Assets</a>
      <a href="/homepage/assets/1/" class="btn btn-primary">Active Assets</a>
      <a href="/homepage/assets/0/" class = "btn btn-primary">Inactive Assets</a>
    </p>
  <form id="search" action="/homepage/assets/" method="post">
      {% csrf_token %}
      {{ form }}
      <button class = "btn btn-primary" type="submit" form ="search"/>Search </button>
  </form>
  </div><br>
  <p>
    <strong>Actions:</strong>
    <a href="/homepage/register/" >Create <span class="glyphicon glyphicon-plus"></span></a>
  </p>



  <table class="table table-striped users sortable" >
      <tr>
        <th>Serial</th>
        <th>Name</th>
        <th>Location</th>
        <th>Manufacturer</th>
        <th>Actions</th>
      </tr>
    {% for a in assets %}
      <tr>
        <td>{{ a.serialNum }}</td>
        <td>{{ a.assetName }}</td>
        <td>{{ a.location.locationName }}</td>
        <td>{{ a.manufacturer.manName }}</td>
        <td>
          <a href="/homepage/assetinfo/{{ a.serialNum }}/0/">Details</a> |
          <a href="/homepage/editasset/{{ a.serialNum }}/">Edit</a> |
          <a href="/homepage/assetinfo/{{ a.serialNum }}/1/1/">Deactivate</a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

  <!-- Delete Modal -->
<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to deactivate the asset?</p>
      </div>
      <div class="modal-footer">
        <a id="real_delete" href="" class="btn btn-danger" type="submit">Yes</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>


{% endblock %}
