{% extends 'base.htm' %}

{% block content %}
  <div class='createuser container'>
    <h1>Edit Asset here:</h1>
    <div class='container viewcontainer post-form'>
     	<form class='register-device-form' action='' method='post'>
            {% csrf_token %}
            <p><strong>Serial Number:</strong> {{ asset.serialNum }}</p>
            {{ form.as_p }}
           <input type='submit' value='Submit' />
       </form>
     </div>
   </div>
{% endblock %}
