{% extends 'base.htm' %}

{% block content %}
<div class='container'>
  <h1>Register New Device</h1><hr>
    <div class='container viewcontainer post-form'>
     	<form class='register-device-form' action='' method='post'>
            {% csrf_token %}
            {{ form.as_p }}
           <input type='submit' value='Submit' />
       </form>
     </div>
</div>

{% endblock %}
